.client,
.client_wrapper,
.slider_slide,
.slider_btn,
.client_list
{ 
  margin: 0;
  padding: 0;
  
}

.client {
  
  display: block;
  border: none;
  width: auto;
  min-height: 440px;
background-color: #f2f1f1;
  position: relative;  
}
.client_wrapper{
width: 920px;
margin: 0 auto;
min-height: 340px;
position: relative;
padding-bottom: 60px;
}

.client_title{
position: relative;
padding-top: 40px; 
color: inherit;
}
  
}
.client_description {

padding-top: 0;

}

.client_list{
display: flex;
flex-wrap:wrap;
justify-content: space-between;
align-items: center;
min-height: 280px; 
padding-top: 20px;
    
}

.client_logo{
list-style: none;
 min-width: 190px;
 
}  
.view_img{
display: block;
margin: auto;
cursor: pointer;

}

.client_btn{

 padding-top: 20px;   
    
}
.btn_client{

bottom: 0;
display: block;
margin: 0 auto;
    background-color: #dddcdc;
    text-align: center;
    height: 40px;
    width: 175px;
    color: #aca5a5;
    font-family: 'proxima_novalight', sans-serif;
    font-size: 18px;
    font-weight: 300;
    border: none;
    border-radius: 25px;
}
  

    .btn_client::after{
content: "\2192";
display: inline-block; 
font-size: 18px; 
    font-family: 'proxima_novalight', sans-serif;
color: #aca5a5;
    padding-left: 5px;
}
 


